
body, div, p, ul, li, a, span, button, input { font-family: 'Pretendard' }
a { text-decoration:none; color:inherit;}
.textout {
    overflow: hidden;
    line-height: 0;
    text-indent: -9999px;
}

header {
    position: sticky;
}
nav {
    position: relative;
    display: flex;
	flex-direction : row;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    width: 1296px;
    height: 72px;
    overflow: hidden;
}
/* Nav Left */
.navLeft {
    display: flex;
    align-items: center;
    width: 180px;
}
.navLeft > img {
    width: auto;
    height: 22px;
}

/* Nav Center */
.navCenter {
    text-align: center;
    line-height: 72px;
}
.navCenter > ul {
    cursor: pointer;
    font-weight: bold;
}
.navCenter > ul:hover {
    color: #888;
}
.navCenter > ul > li {
    display: inline-block;
    padding: 0 28px;
}
.navCenter > ul > li:hover {
    color: #000;
}
.navCenter> ul > li > a {
    height: 72px;
}

/* Nav Right */
.navRight {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 180px;
    text-align: right;
}

.navRight > ul > li {
    display: inline-block;
    margin-left: 12px;
}
.navRight > ul > li > button {
    width: 36px;
    height: 36px;
    padding: 6px 0;
    background: none;
    border: none;
}
.navRight > ul > li > button:hover {
    cursor: pointer;
    border: none;
    background-color: #eeeeee;
    border-radius: 100%;
}
.navRight > ul > li > a > img {
    width: 27px;
}

/* Main */
main {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1296px;
}

/* Today Header */
main .today-container {
    position: sticky;
    margin: 96px 0;
}
main .today-container > h1 {
    font-size: 46px;
    font-weight: bold;
    line-height: 66px;
}
main .today-container > h1:first-child {
    background: no-repeat left/65px url(img/ico_date12.gif);
    padding-left: 70px;
}

/* Article - info header(wrap) */
.art-info-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.art-info-wrap .left{
    display: flex;
    align-items: center;
}
.icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 8px;
}
.icon.media {
    background: no-repeat left/36px url(img/ico_media.png);
}
.icon.invest {
    background: no-repeat left/36px url(img/ico_stock.png);
}
.icon.promise {
    background: no-repeat left/36px url(img/ico_responsible.png);
}
.balloons {
    position: relative;
    display: inline-block;
    height: 34px;
    font-size: 13px;
    line-height: 34px;
    padding: 0 14px;
    background-color: #eee;
    border-radius: 15px;
    box-sizing: border-box;
}
.balloons::before {
    position: absolute;
    content: '';
    top: 0;
    left: -1px;
    width: 14px;
    height: 14px;
    background: no-repeat left / 14px url(img/balloons-silver.svg);
}
.icon-share {
    align-items: center;
}

/* Section 1 - News */
main .section1 {
    display: flex
}

main .section1 .main-side {
    width: 50%;
    margin-right: 20px;
}
main .section1 .sub-side {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 20px;
    box-sizing: border-box;
    
}
main .art {
    padding: 25px 24px 0;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.1); 
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.1);
    transition: all .3s;
}
main .art:hover {
    transform: translateY(-8px);
    -webkit-box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3); 
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);
}
main .art .news-link {
    display: block;
    margin: 0 -24px;
}


.art h2 {
    margin-top: 13px;
    letter-spacing: -1px;
    padding: 0 24px;
}
.art.art-lrg h2 {
    max-height: 92px;
    height: 92px;
    font-weight: bold;
    font-size: 32px;
    line-height: 46px;

}