
body, div, p, ul, li, a, span, button, input { font-family: 'Pretendard' }
a { text-decoration:none; color:inherit;}
.material-icons {
    display: inline;
    font-family: 'Material Icons';
}
.sr-only {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* input 임시 제거 */
.icon-share {
    display: none;
}

/* dark mode */
body.dark {
    background-color: #222;
}
nav.dark,
nav.dark .navCenter li:hover,
.today-container.dark,
.sitemap.dark .service-title,
.sitemap.dark li:hover {
    color: #fff;
}
.navLeft.dark img,
.navRight.dark img,
.UseInfoMenu.dark {
    filter: invert(100%)
}
.navRight.dark > ul > li > button:hover {
    background-color: #666;
}

/* header */
header {
    position: sticky;
}
nav {
    position: relative;
    display: flex;
	flex-direction : row;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    width: 1296px;
    height: 72px;
    overflow: hidden;
}
/* Nav Left */
.navLeft {
    display: flex;
    align-items: center;
    width: 180px;
}
.navLeft > img {
    width: auto;
    height: 22px;
}

/* Nav Center */
.navCenter {
    text-align: center;
    line-height: 72px;
}
.navCenter > ul {
    cursor: pointer;
    font-weight: bold;
}
.navCenter > ul:hover {
    color: #888;
}
.navCenter > ul > li {
    display: inline-block;
    padding: 0 28px;
}
.navCenter > ul > li:hover {
    color: #000;
}
.navCenter> ul > li > a {
    height: 72px;
}

/* Nav Right */
.navRight {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 180px;
    text-align: right;
}

.navRight > ul > li {
    display: inline-block;
    margin-left: 12px;
}
.navRight > ul > li > button {
    width: 36px;
    height: 36px;
    padding: 6px 0;
    background: none;
    border: none;
}
.navRight > ul > li > button:hover {
    cursor: pointer;
    border: none;
    background-color: #eeeeee;
    border-radius: 100%;
}
.navRight > ul > li > a > img {
    width: 27px;
}

/* Main */
main {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1296px;
}

/* Today Header */
main .today-container {
    margin: 96px 0;
    font-size: 46px;
    font-weight: bold;
    line-height: 66px;
}
main .today-container .today-icon-text {
    display: inline-block;
    text-align: center;
    padding: 19px 6px 0;
    margin-right: 10px;
    font-size: 34px;
    width: 54px;
    background: url(img/day.png);
    background-size: 75px;
    background-position: -5px;
    background-repeat: no-repeat;
    color: #000;
}

/* Today Header Sticky */
.today-sticky {display: none;}
.today-sticky.on {
    top: 0;
    display: block;
    position: sticky;
    background-color: #fff;
    padding: 17px 0;
    z-index: 5;
    height: 40px;
    border-bottom: 1px solid #eee;
}
.today-sticky h1 {
    position: relative;
    display: inline-block;
    width: 1296px;
    left: 50%;
    font-size: 20px;
    line-height: 34px;
    font-weight: 700;
    transform: translateX(-50%);
    background: url(img/day.png);
    background-size: 37px;
    background-position: -3px -3px;
    background-repeat: no-repeat;
}
.today-sticky .today-icon-text {
    display: inline-block;
    width: 27px;
    text-align: center;
    padding: 3px 3px 0;
    font-size: 17px;
    color: #000;
}



/* card article - info header(wrap) */
.item-info-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item-info-wrap .left{
    display: flex;
    align-items: center;
}
.icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 8px;
}
.icon.media {
    background: no-repeat left/36px url(img/ico_media.png);
}
.icon.invest {
    background: no-repeat left/36px url(img/ico_stock.png);
}
.icon.promise {
    background: no-repeat left/36px url(img/ico_responsible.png);
}
.icon.customer {
    background: no-repeat left/36px url(img/ico_customer.png);
}
.icon.privacy {
    background: no-repeat left/36px url(img/ico_privacy.png);
}
.balloons {
    position: relative;
    display: inline-block;
    height: 34px;
    font-size: 13px;
    line-height: 34px;
    padding: 0 14px;
    background-color: #eee;
    border-radius: 15px;
    box-sizing: border-box;
}
.balloons::before {
    position: absolute;
    content: '';
    top: 0;
    left: -1px;
    width: 14px;
    height: 14px;
    background: no-repeat left / 14px url(img/balloons-silver.svg);
}
.icon-share {
    align-items: center;
}


/* Section 1, 3 - News Card */
main .section1, main .section3 {
    display: flex;
    margin: 0 -18px;
}
main .main-side {
    width: 630px;
    position: relative;
    display: flex;
    margin: 0 18px;
    flex-direction: column;
    flex-wrap: wrap;
}
main .sub-side {
    width: 630px;
    position: relative;
    height: 1200px;
    margin: 0 18px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: column;
}


main .item {
    position: relative;
    background-color: #fff;
    padding: 25px 24px 0;
    border-radius: 14px;
    box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);
    overflow: hidden;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}
main .item:hover {
    transform: translateY(-8px);
    box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 18%);
}

main .main-side .item {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    overflow: hidden;
}
main .sub-side .item {
    width: 297px;
    margin-top: 36px;
    overflow: hidden;
}
main .sub-side .item:nth-child(-n+2) {
    /* 최상단 2개 카드는 상단 마진 0 */
    margin-top: 0;
}

/* 아이템 순서 바꾸기 */
main .sub-side .item:nth-child(2) {
/* 주가정보 */
    order: 2;
}
main .sub-side .item:nth-child(3) {
/* 보도자료2 */
    order: 2;
}
main .sub-side .item:nth-child(4) {
/* 보도자료3 */
    order: 3;
}


main .item.item-mid {
    height: 420px;
}
main .item.item-small {
    height: 192px;
}



/* Card 콘텐츠 내용 */
.item h2 {
    margin-top: 13px;
    letter-spacing: -1px;
    padding: 0 24px;
}
main .item .news-link {
    display: block;
    margin: 0 -24px;
}
main .item .news-link .stock-price {
    font-size: 33px;
}
.item.item-lrg h2 {
    max-height: 92px;
    height: 92px;
    font-weight: bold;
    font-size: 32px;
    line-height: 46px;
}
article .item-black-btn {
    cursor: pointer;
    display: inline-block;
    background-color: #000;
    color: #fff;
    height: 32px;
    margin-top: 36px;
    font-size: 14px;
    border-radius: 42px;
    padding: 5px 36px 5px 20px;
    line-height: 32px;
}
article .item-black-btn::after {
    content: 'arrow_forward';
    position: absolute;
    font-family: 'Material Icons';
    font-size: 16px;
    padding-left: 2px;
}


/* small은 임시 */
.item.item-mid h2, .item.item-small h2 {
    max-height: 92px;
    height: 64px;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    /* 두 줄 말줄임 */
    overflow: hidden;
}
.item p {
    margin-top: 24px;
    padding-left: 24px;
    font-size: 15px;
    color: #666;
    line-height: 19px;
    font-weight: 300;
}
.item p .text-tag {
    display: inline-block;
    margin-right: 3px;
    vertical-align: top;
}


.sub-side .img-wrap {
    display: block;
    margin: 21px -3px -3px;
}
.sub-side .img-wrap img {
    width: auto;
    height: 250px;
}
.main-side .img-wrap {
    display: block;
    margin: 21px -3px -3px;
}
.main-side .img-wrap img {
    width: 100%;
    min-height: 500px;
}

/* section 2 */
.section2 article {
    position: relative;
    text-align: center;
    margin: 36px 0;
    padding: 54px 66px 0;
    height: 540px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 14px;
    box-sizing: border-box;
    box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);
}
.section2 article strong {
    display: block;
    font-size: 46px;
    text-align: center;
    font-weight: 600;
}
.section2 article img {
    margin: 50px 132px 0;
    display: block;
    width: 900px;
}

/* section 4 */
.section4 {
    margin: 36px -18px;
    font-size: 0;
}
.section4 article {
    display: inline-block;
    width: 50%;
    padding: 0 18px;
    box-sizing: border-box;
}
.section4 a {
    display: block;
    height: 360px;
    padding: 36px 36px 0;
    height: 360px;
    overflow: hidden;
    border-radius: 14px;
    box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);
}

.section4 .item-title {
    display: block;
    max-width: 430px;
    font-size: 32px;
    line-height: 44px;
    font-weight: bold;
    list-style: 44px;
    word-break: keep-all;
}
.section4 article:nth-child(1) a {
    background-color: #FAE100;
    background-image: url('img/bg_home_service.png');
    background-size: 160px auto;
    background-repeat: no-repeat;
    background-position: right 40px bottom 40px;
}

.section4 article:nth-child(2) a {
    background-color: #3C64FF;
    background-image: url('img/bg_home_recruit.png');
    background-size: auto 160px;
    background-repeat: no-repeat;
    background-position: right 40px bottom 40px;
}

/* etc section */
.etc {
    width: 100%;
    overflow: hidden;
    margin: 42px 0;
}
.etc .item-gray-btn {
    width: 260px;
    height: 60px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    border: 0;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    border-radius: 60px;
    background-color: #eee;
}
.etc .item-gray-btn:hover {
    background-color: #dfdfdf
}

.etc .top-btn {
    display: block;
    margin-top: 60px;
    background-color: #000;
    border-radius: 100%;
    float: right;
    position: relative;
    width: 50px;
    height: 50px;
    color: transparent;
}
.etc .top-btn::after {
    content: 'arrow_upward';
    font-family: 'Material Icons';
    color: #fff;
    font-size: 30px;
    position: relative;
    left: 10.5px;
    top: -5px;
}

/* footer */
footer {
    border-top: 1px solid #ebebeb;
    padding-top: 50px;
}
footer section {
    width: 1296px;
    margin: 0 auto;
}
footer .sitemap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer section ul {
    display: inline-block;
    flex: 1; /* 넓이 같게 만들기 */
}
footer section li {
    margin-bottom: 20px;
    font-size: 14px;
    color: #888;
}
footer section li:hover {
    color: #000;
}
footer section .service-title {
    margin-bottom: 20px;
    font-weight: bold;
    color: #000;
}
footer section .service-title:hover::before {
    content: '';
    width: 6px;
    height: 6px;
    background: #FFCD00;
    display: block;
    position: absolute;
    border-radius: 100%;
    margin-top: 4px;
    margin-left: -13px;
}
footer .footer-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 110px;
    margin-bottom: 60px;
}

/* footer-line- DropMenu(공통) */
footer .footerDropList {
    display: none;
    padding: 8px 20px;
    position: absolute;
    background-color: #EEEEEE;
    border-radius: 15px;
    box-sizing: border-box;
    font-weight: normal;
}
footer .footerDropList.on {
    display: block;
}

/* footer-line-Left */
footer .footer-line-Left .UseInfoMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 900px;
}
footer .footer-line-Left .top-title{
    cursor: pointer;
    position: relative;
    display: inline;
    font-size: 13px;
    line-height: 14px;
}
footer .footer-line-Left p {
    display: block;
    font-size: 15px;
    color: #888;
}
footer .footer-line-Left .footerDropList {
    width: 140px;
    bottom: 25px;
}
.footer-line-Left .top-title:nth-child(1):hover:after,
.footer-line-Left .top-title:nth-child(2):hover:after,
.footer-line-Left .top-title:nth-child(3):hover:after,
.footer-line-Left .top-title:nth-child(7):hover:after,
.footer-line-Left .top-title:nth-child(1).on,
.footer-line-Left .top-title:nth-child(2).on,
.footer-line-Left .top-title:nth-child(3).on,
.footer-line-Left .top-title:nth-child(7).on,
.footer-line-Left .top-title:nth-child(1).on:after,
.footer-line-Left .top-title:nth-child(2).on:after,
.footer-line-Left .top-title:nth-child(3).on:after,
.footer-line-Left .top-title:nth-child(7).on:after {
    color: #000;
    content: 'expand_less';
}
.footer-line-Left .top-title:nth-child(1):after,
.footer-line-Left .top-title:nth-child(2):after,
.footer-line-Left .top-title:nth-child(3):after,
.footer-line-Left .top-title:nth-child(7):after {
    display: inline-block;
    vertical-align: middle;
    content: 'expand_more';
    font-family: 'Material Icons';
    color: #888;
    font-weight: normal;
    line-height: 14px;
}
.footer-line-Left .top-title:nth-child(2),
.footer-line-Left .top-title:nth-child(3) {
    color: #000;
    font-weight: bold;
}


/* footer-line-Right */
footer .footer-line-Right {
    width: 200px;
    position: relative;
}
footer .footer-line-Right button {
    cursor: pointer;
    width: 200px;
    background-color: #EEEEEE;
    border-radius: 24px;
    padding: 14px 22px 11px;
    font-size: 14px;
    line-height: 25px;
    border: none;
    text-align: left;
    overflow: hidden;
}
footer .footer-line-Right button span {
    float: right;
    transition: all .5s;
}
footer .footer-line-Right button span.on {
    transform: rotate(45deg);
}
footer .footerDropList {
    width: 100%;
    padding: 8px 20px;
    position: absolute;
    left: 0;
    bottom: 60px;
    background-color: #EEEEEE;
    border-radius: 15px;
    box-sizing: border-box;
}
footer .footerDropList li {
    margin: 17px 0;
    font-size: 12px;
}
footer .footer-line-Right .footerDropList {
    width: 100%;
    bottom: 60px;
}

