
body, div, p, ul, li, a, span, button, input { font-family: 'Pretendard' }
a { text-decoration:none; color:inherit;}
.sr-only {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

header {
    position: sticky;
}
nav {
    position: relative;
    display: flex;
	flex-direction : row;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    width: 1296px;
    height: 72px;
    overflow: hidden;
}
/* Nav Left */
.navLeft {
    display: flex;
    align-items: center;
    width: 180px;
}
.navLeft > img {
    width: auto;
    height: 22px;
}

/* Nav Center */
.navCenter {
    text-align: center;
    line-height: 72px;
}
.navCenter > ul {
    cursor: pointer;
    font-weight: bold;
}
.navCenter > ul:hover {
    color: #888;
}
.navCenter > ul > li {
    display: inline-block;
    padding: 0 28px;
}
.navCenter > ul > li:hover {
    color: #000;
}
.navCenter> ul > li > a {
    height: 72px;
}

/* Nav Right */
.navRight {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 180px;
    text-align: right;
}

.navRight > ul > li {
    display: inline-block;
    margin-left: 12px;
}
.navRight > ul > li > button {
    width: 36px;
    height: 36px;
    padding: 6px 0;
    background: none;
    border: none;
}
.navRight > ul > li > button:hover {
    cursor: pointer;
    border: none;
    background-color: #eeeeee;
    border-radius: 100%;
}
.navRight > ul > li > a > img {
    width: 27px;
}

/* Main */
main {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1296px;
}

/* Today Header */
main .today-container {
    position: sticky;
    margin: 96px 0;
}
main .today-container > h1 {
    font-size: 46px;
    font-weight: bold;
    line-height: 66px;
}
main .today-container > h1:first-child {
    background: no-repeat left/75px url(img/ico_date12.gif);
    padding-left: 85px;
}

/* card article - info header(wrap) */
.item-info-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item-info-wrap .left{
    display: flex;
    align-items: center;
}
.icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 8px;
}
.icon.media {
    background: no-repeat left/36px url(img/ico_media.png);
}
.icon.invest {
    background: no-repeat left/36px url(img/ico_stock.png);
}
.icon.promise {
    background: no-repeat left/36px url(img/ico_responsible.png);
}
.balloons {
    position: relative;
    display: inline-block;
    height: 34px;
    font-size: 13px;
    line-height: 34px;
    padding: 0 14px;
    background-color: #eee;
    border-radius: 15px;
    box-sizing: border-box;
}
.balloons::before {
    position: absolute;
    content: '';
    top: 0;
    left: -1px;
    width: 14px;
    height: 14px;
    background: no-repeat left / 14px url(img/balloons-silver.svg);
}
.icon-share {
    align-items: center;
}


/* Section 1 - News Card */
main .section1, main .section3 {
    display: flex;
    margin: 0 -18px;
}
main .main-side {
    width: 630px;
    position: relative;
    display: flex;
    margin: 0 18px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

}
main .sub-side {
    width: 630px;
    position: relative;
    height: 1200px;
    margin: 0 18px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-content: space-between;
    flex-direction: column;
    justify-content: space-between;
}


main .item {
    background-color: #fff;
    padding: 25px 24px 0;
    border-radius: 14px;
    box-sizing: border-box;
    box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);
    overflow: hidden;
    transition: all .2s ease-in-out;
    position: relative;
    overflow: hidden;
}
main .item:hover {
    transform: translateY(-8px);
    box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 18%);
}

main .main-side .item {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    overflow: hidden;
}
main .sub-side .item {
    width: 297px;
    margin-top: 36px;
    overflow: hidden;
}
main .sub-side .item:nth-child(-n+2) {
    /* 최상단 2개 카드는 상단 마진 0 */
    margin-top: 0;
}

/* 아이템 순서 바꾸기 */
main .sub-side .item:nth-child(2) {
/* 주가정보 */
    order: 2;
}
main .sub-side .item:nth-child(3) {
/* 보도자료2 */
    order: 2;
}
main .sub-side .item:nth-child(4) {
/* 보도자료3 */
    order: 3;
}


main .item.item-mid {
    height: 420px;
}
main .item.item-small {
    height: 192px;
}



/* Card 콘텐츠 내용 */
.item h2 {
    margin-top: 13px;
    letter-spacing: -1px;
    padding: 0 24px;
}
main .item .news-link {
    display: block;
    margin: 0 -24px;
}
.item.item-lrg h2 {
    max-height: 92px;
    height: 92px;
    font-weight: bold;
    font-size: 32px;
    line-height: 46px;
}
/* small은 임시 */
.item.item-mid h2, .item.item-small h2 {
    max-height: 92px;
    height: 64px;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    /* 두 줄 말줄임 */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.item p {
    margin-top: 24px;
    padding-left: 24px;
    font-size: 15px;
    color: #666;
    line-height: 19px;
    font-weight: 300;
}
.item p .text-tag {
    display: inline-block;
    margin-right: 3px;
    vertical-align: top;
}
.img-wrap {
    display: block;
    margin-top: 20px;
    height: calc(100% - 156px);
}
.img-wrap img {
    display: block;
    height: 100%;
    min-height: 100%;
}